rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow any logged-in staff member to read/write to the dashboard collections
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
