@import "tailwindcss";

@layer base {
  button, 
  [role="button"],
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    cursor: pointer;
  }

  button:disabled,
  input:disabled {
    cursor: not-allowed;
  }
}

@media print {
  @page {
    margin: 1cm;
  }
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
